streamlit
numpy<2.0.0
opencv-python-headless
Pillow
torch
torchvision
pydub
librosa
soundfile
miditoolkit
scipy
python-dateutil
h5py
flatbuffers
packaging
six
typing_extensions
tqdm
requests
matplotlib
seaborn
gdown
future
ffmpeg-python
audioread
imageio
imageio-ffmpeg
moviepy
proglog
click
flask
flask-cors
gunicorn
markupsafe
itsdangerous
pyyaml
retina-face
facenet-pytorch
fer
deepface
tf-keras
keras
tf_keras
flatbuffers
protobuf
